<div>
  <nav class="navbar navbar-light navbar-expand-sm bg-light mb-3">
    <a class="navbar-brand" :href="'#' + url">{{self.title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" v-for="(link, rel) in links">
          <a class="nav-link" :title="'Type: ' + link.type" :href="'#' + link.href">{{ rel }}</a>
        </li>
      </ul>
    </div>
  </nav>
  <p v-if="self.description" class="lead">{{self.description}}</p>
  <v-json-display :data="self" :exclude="['title', 'description']" :empty="true"></v-json-display>
  <div class="card-columns">
    <template v-for="item in embedded">
      <div v-if="Array.isArray(item)" v-for="item in item" class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
          <v-table-display class="mb-0" :data="item" :exclude="['_links', 'title', 'description']" :empty="true"></v-table-display>
        </div>
        <div class="card-footer">
          <a class="card-link" v-for="(link, rel) in item._links" :href="'#' + link.href">{{ rel }}</a>
        </div>
      </div>
      <div v-else class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
          <v-table-display class="mb-0" :data="item" :exclude="['_links', 'title', 'description']" :empty="true"></v-table-display>
        </div>
        <div class="card-footer">
          <a class="card-link" v-for="(link, rel) in item._links" :href="'#' + link.href">{{ rel }}</a>
        </div>
      </div>
    </template>
  </div>
</div>
