<div>
  <div class="card mb-4">
    <div class="card-header">
      <span v-if="self.title">{{self.title}}</span>
      <small>({{self.type}})</small>
    </div>
    <div class="card-body">
      <p class="lead" v-if="self.description">{{self.description}}</p>
      <dl class="row mb-0">
        <template v-if="self.$id">
          <dt class="col-sm-2">ID</dt>
          <dd class="col-sm-10">{{self.$id}}</dd>
        </template>
        <template v-if="self.$schema">
          <dt class="col-sm-2">Schema</dt>
          <dd class="col-sm-10">{{self.$schema}}</dd>
        </template>
        <template v-if="self.required">
          <dt class="col-sm-2">Required</dt>
          <dd class="col-sm-10">
            <span v-for="attr in self.required" class="badge badge-primary mr-2">{{attr}}</span>
          </dd>
        </template>
      </dl>
    </div>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Other Attributes</th>
        </tr>
      </thead>
      <tr v-for="(prop, name) in self.properties">
        <td>{{name}}</td>
        <td>{{prop.type}}</td>
        <td>{{prop.description}}</td>
        <td>
          <dl class="row mb-0">
            <template v-for="(attr, key) in prop" v-if="['type', 'description'].indexOf(key) < 0">
              <dt class="col-6">{{key}}</dt>
              <dd class="col-6">{{attr}}</dd>
            </template>
          </dl>
        </td>
      </tr>
    </table>
    <template v-if="self.definitions">
      <hr>
      <div class="card-body">
        <h4>Definitions</h4>
        <v-runtime-component :self="Object.assign(def, {title: key})" url="/halve/examples/json-schema/template.html" v-for="(def, key) in self.definitions">
          {{key}}
        </v-runtime-component>
      </div>
    </template>
  </div>
</div>
